<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
</head>
<body>
<div id="app">
    <div class="header pure-g pad_20">
        <div class="pure-u-1-4"><h1>Taggr</h1></div>
        <div class="pure-u-1-2"></div>
        <div class="pure-u-1-4"><p>{{ User.display_name }}</p></div>
    </div>

    <div class="main-container pure-g">
        <div class="pure-u-2-5"><h1>Taggr</h1></div>
        <div class="pure-u-3-5">
            <md-list class="md-double-line" v-if="Playlist.tracks != undefined">
                <md-subheader>Tracks ({{Playlist.tracks.items.length}})</md-subheader>
                <track-item v-for="track in Playlist.tracks.items" v-bind:track="track.track" v-if="track.track.display" v-bind:tags="getTrackTags(track.track.id)"></track-item>
            </md-list>
        </div>
    </div>

    <br/>
    {{ message }}
    <md-toolbar :md-elevation="1">
        <span class="md-title">
        {{Playlist.name}}
        </span>
    </md-toolbar>
    <form v-on:submit.prevent="onSearchSubmit">
        <md-autocomplete v-model="SearchTag" :md-options="uniquePlaylistTags" :md-open-on-focus="false" md-layout="box" md-dense>
            <label>Tags</label>
            <template slot="md-autocomplete-item" slot-scope="{ item, term }" v-on:md-selected="selectTag($event)">
                <md-highlight-text :md-term="term">{{ item.name }} ({{ item.count }})</md-highlight-text>
            </template>
        </md-autocomplete>
    </form>

    <md-chips md-placeholder="Add club..." class="md-primary" v-model="SearchTags" md-deletable v-on:md-delete="deleteFilterTag($event)">
    </md-chips>


</div>
<script src="https://unpkg.com/vue-material@beta"></script>

<style>
    .pad_20 {
        padding: 20px;
    }

    .header {
        background-color: #30475e;
        color: white;
    }

    .main-container {

    }
</style>

<script>
    Vue.use(VueMaterial.default);

    var app = new Vue({
        el: '#app',
        data: {
            User: [],
            Playlist: [],
            PlaylistTags: [],
            Message: "Loading",
            SearchTag: '',
            SearchTags: []
        },
        mounted: function() {
            var self = this;

            var urlParams = new URLSearchParams(window.location.search);
            this.$http.get('/api/user/playlist?id=' + urlParams.get('id')).then(function(response) {
                console.log(response);
                // get body data
                if (response.body.OK !== true) {
                    this.Message = "Can't load playlist - " + response.body.Message;
                } else {
                    this.Playlist = response.body.Playlist;
                    this.PlaylistTags = response.body.PlaylistTags;
                    this.Message = "";

                    this.Playlist.tracks.items.forEach(function(track){
                        track.track.display = true;
                    });
                }
            });

            this.$http.get('/api/user').then(function(response) {
                console.log(response);
                // get body data
                this.User = response.body.User;
            });
        },
        methods: {
            getTrackTags : function(songId) {
                if(this.PlaylistTags[songId]) {
                    return this.PlaylistTags[songId].Tags;
                }
                return [];
            },
            selectTag: function(tag){
                this.SearchTags.push(tag);
                this.SearchTag = '';
                this.filterSongsByTag();
            },
            onSearchSubmit: function(){
                this.SearchTags.push(this.SearchTag);
                this.SearchTag = '';

                // filter by this
                this.filterSongsByTag()
            },
            deleteFilterTag: function (text) {
                console.log(text);
                var index = this.SearchTags.indexOf(text);
                if (index > -1) {
                    this.SearchTags.splice(index, 1);
                }
                this.filterSongsByTag()
            },
            filterSongsByTag: function(){
                var filteredSongIds = [];
                var showAll = false;

                if (this.SearchTags.length === 0) {
                    showAll = true
                } else {
                    for(var i = 0; i < this.PlaylistTags.length; i++){
                        var songTags = this.PlaylistTags[i];
                        for(var j = 0; j < songTags.Tags.length; j++) {
                            var tag = songTags.Tags[j];
                            if (this.SearchTags.indexOf(tag.TagName) > -1){
                                filteredSongIds.push(songTags.SongId);
                                break;
                            }
                        }
                    }
                }

                this.Playlist.tracks.items.forEach(function(track){
                    if (showAll) {
                        track.track.display = true;
                    } else if (filteredSongIds.indexOf(track.track.id) === -1){
                        track.track.display = false;
                    } else {
                        track.track.display = true;
                    }
                });
            }
        },
        computed: {
            uniquePlaylistTags: function () {
                var filteredTags = [];

                Object.entries(this.PlaylistTags).forEach(([songId, songTags]) => {
                    songTags.Tags.forEach(function (tag) {
                        var added = false;
                        filteredTags.forEach(function (ft) {
                            if (ft.name === tag.name) {
                                ft.count += 1;
                                added = true;
                            }
                        });
                        if (!added) {
                            filteredTags.push({name: tag.Name, count: 1})
                        }
                    })
                });

                filteredTags.sort(function (a, b) {
                    return (a.count > b.count) ? -1 : ((b.count > a.count) ? 1 : 0);
                });
                return filteredTags
            }
        }
    });

    Vue.component('track-item', {
        props: ['track', 'tags'],
        template: '#track-item-template',
        data: function(){
            return {
                tagname: '',
                trackTags: this.tags
            }
        },
        computed: {
            artist : function() {
                artists = "";
                this.track.artists.forEach(function(artist){
                    artists += artist.name + ", "
                });
                return artists.slice(0, -2)
            }
        },
        methods: {
            postTrackTag: function () {
                songQs = 'SongId=' + this.track.id;
                tagQs = 'TagName=' + this.tagname.trim();

                this.$http.post('/api/track/tag', {
                    'SongId': this.track.id,
                    'TagName' : this.tagname.trim()
                }).then(function (response) {
                    console.log(response);
                    if (response.status !== 200) {
                        // this.Message = "Can't load playlist - " + response.body.Message;
                    } else {
                        this.trackTags.push({
                            'TagName': response.body.TagName,
                            'TagId': response.body.TagId
                        });
                        this.tagname = '';
                    }
                })
            },
            tagCreatedEvent: function(value){
                this.tagname = value;
                this.postTrackTag();
            }
        }
    });

    Vue.component('song-tags', {
        props: ['tags'],
        template: '#song-tags-template',
        methods: {
            addNewTag: function (tag) {
                this.tags.pop(); // remove the last added tag (gets added automatically
                this.$emit('track-tag-add', tag.trim());
            }
        }
    })
</script>

<script type="text/x-template" id="track-item-template">

    <div>
        <md-list-item>
            <md-icon class="md-primary">music_video</md-icon>
            <div class="md-list-item-text" style="">
                <span>{{track.name}}</span>
                <span>{{artist}}</span>
            </div>
        </md-list-item>

        <div style="padding-left: 65px">
            <song-tags  v-bind:tags="trackTags" @track-tag-add="tagCreatedEvent"></song-tags>
        </div>
    </div>
</script>

<script type="text/x-template" id="song-tags-template">
    <md-chips class="md-primary" v-model="tags" md-placeholder="Add tags..." md-check-duplicated v-on:md-insert="addNewTag($event)">
        <template slot="md-chip" slot-scope="{ chip }">
        {{ chip.Name }} <small v-if="chip === 1">(Marcos Moura)</small>
        </template>
        <label>Tags</label>
    </md-chips>
</script>


</body>
</html>