<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
</head>
<body>
<div id="app">
    <div>

    </div>
    {{User.display_name}}
    <br/>
    {{Message}}
    <md-toolbar :md-elevation="1">
        <span class="md-title">
        {{Playlist.name}}
        </span>
    </md-toolbar>

    <md-autocomplete v-model="SearchTag" :md-options="uniquePlaylistTags" :md-open-on-focus="false">
        <label>Tags</label>
    </md-autocomplete>

    <md-list class="md-double-line" v-if="Playlist.tracks != undefined">
        <md-subheader>Tracks ({{Playlist.tracks.total}})</md-subheader>
        <track-item v-for="track in Playlist.tracks.items" v-bind:track="track.track" v-bind:tags="getTrackTags(track.track.id)"></track-item>
    </md-list>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-material@beta"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>

<script>
    Vue.use(VueMaterial.default);

    var app = new Vue({
        el: '#app',
        data: {
            User: [],
            Playlist: [],
            PlaylistTags: [],
            Message: "Loading",
            SearchTag: ''
        },
        mounted: function() {
            var self = this;

            var urlParams = new URLSearchParams(window.location.search);
            this.$http.get('/api/user/playlist?id=' + urlParams.get('id')).then(function(response) {
                console.log(response);
                // get body data
                if (response.body.OK !== true) {
                    this.Message = "Can't load playlist - " + response.body.Message;
                } else {
                    this.Playlist = response.body.Playlist;
                    this.PlaylistTags = response.body.PlaylistTags;
                    this.Message = "";
                }
            });

            this.$http.get('/api/user').then(function(response) {
                console.log(response);
                // get body data
                this.User = response.body.User;
            });
        },
        methods: {
            getTrackTags : function(id) {
                returned = this.PlaylistTags.filter(function(tagList){
                    return tagList.SongId === id && tagList.Tags !== null;
                });
                if (returned.length > 0) {
                    return returned[0].Tags
                }
                return []
            }
        },
        computed: {
            uniquePlaylistTags: function(){
                var filteredTags = [];

                this.PlaylistTags.forEach(function(songTags){
                    // debugger;
                    console.log(songTags);
                    songTags.Tags.forEach(function(tag){
                        if (filteredTags.indexOf(tag.TagName) === -1) {
                            filteredTags.push(tag.TagName)
                        }
                    })
                });
                return filteredTags
            }
        }
    });

    Vue.component('track-item', {
        props: ['track', 'tags'],
        template: '#track-item-template',
        data: function(){
            return {
                tagname: '',
                trackTags: this.tags
            }
        },
        computed: {
            artist : function() {
                artists = "";
                this.track.artists.forEach(function(artist){
                    artists += artist.name + ", "
                });
                return artists.slice(0, -2)
            }
        },
        methods: {
            onSubmit: function () {
                songQs = 'SongId=' + this.track.id;
                tagQs = 'TagName=' + this.tagname.trim();

                this.$http.post('/api/track/tag', {
                    'SongId': this.track.id,
                    'TagName' : this.tagname.trim()
                }).then(function (response) {
                    console.log(response);
                    if (response.status !== 200) {
                        // this.Message = "Can't load playlist - " + response.body.Message;
                    } else {
                        this.trackTags.push({
                            'TagName': response.body.TagName,
                            'TagId': response.body.TagId
                        });
                        this.tagname = '';
                    }
                })
            }
        }
    });

    Vue.component('song-tags', {
        props: ['tags'],
        template: '#song-tags-template'

    })
</script>

<script type="text/x-template" id="track-item-template">

    <div>
        <md-list-item>
            <md-icon class="md-primary">music_video</md-icon>
            <div class="md-list-item-text" style="">
                <span>{{track.name}}</span>
                <span>{{artist}}</span>
            </div>
        </md-list-item>

        <div style="padding-left: 65px">
            <song-tags v-if="tags.length > 0" v-bind:tags="trackTags"></song-tags>
            <form v-on:submit.prevent="onSubmit">
                <input v-model="tagname" name="tagname" placeholder="new tag">
            </form>
        </div>
    </div>
</script>

<script type="text/x-template" id="song-tags-template">
    <div>
        <md-chip class="md-primary" v-for="tag in tags" :key="tag.TagId" md-deletable>{{tag.TagName}}</md-chip>
    </div>
</script>


</body>
</html>